<section class="bg-gray-900 min-h-screen">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="flex justify-center">
                    <img class="rounded-lg w-20 h-20" src="/assets/logo.png" alt="logo">
                </div>
                <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl ">
                    Sign in to your account
                </h1>
                <form [formGroup]="loginForm" (ngSubmit)="tryLogin()" class="space-y-4 md:space-y-6" action="#">
                    <div class="flex flex-col">
                        <label for="email" [ngClass]="{
                                 'block mb-2 text-sm font-medium text-white' : !getErrorState('email'),
                                 'block text-md text-red-500' : getErrorState('email')
                        }">
                            Your email:
                        </label>
                        <input [ngClass]="{
                                        'rounded w-full p-2.5 py-2 px-3 text-black' : !getErrorState('email'),
                                        'border text-red-500 placeholder-red-500 border-red-500 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 ' : getErrorState('email')
                        }" formControlName="email" type="email" name="email" id="email" placeholder="name@company.com">
                        <div *ngIf="getErrorState('email')">
                            <p *ngIf="loginForm.get('email')?.errors?.['required']"
                                class="mt-1 text-red-500 text-sm italic">
                                The email is required.
                            </p>
                            <p *ngIf="loginForm.get('email')?.errors?.['email']"
                                class="mt-1 text-red-500 text-sm italic">
                                The email is not valid.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <label [ngClass]="{
                            'block mb-2 text-sm font-medium text-white' : !getErrorState('password'),
                            'block text-md text-red-500' : getErrorState('password')
                                }" for="password">
                            Password:
                        </label>
                        <input [ngClass]="{
                            'rounded w-full p-2.5 py-2 px-3 text-black' : !getErrorState('password'),
                            'border text-red-500 placeholder-red-500 border-red-500 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 ' : getErrorState('password')
            }" formControlName="password" type="password" name="password" id="password" placeholder="••••••••">
                        <div *ngIf="getErrorState('password')">
                            <p *ngIf="loginForm.get('password')?.errors?.['required']"
                                class="mt-1 text-red-500 text-sm italic">
                                The password is required.
                            </p>
                        </div>
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-opacity-50 bg-green-700 hover:bg-green-800 focus:ring-primary-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                        Sign in
                    </button>
                    <div *ngIf="error">
                        <app-alert alertType="error" message={{error.error}} />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>