<form [formGroup]="technologyForm" (ngSubmit)="sendForm()" class="bg-gray-700 text-white shadow-md rounded-lg p-8 mb-4">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-4 py-4">
      <h3 class="font-bold text-3xl mb-2">
        {{title}}
      </h3>
    </div>
    <div class="w-full flex flex-col">
      <div class="flex flex-col">
        <label [ngClass]="{
          'block text-md font-bold mb-3' : !getErrorState('name'),
          'block text-md text-red-500 mb-2' : getErrorState('name')
        }" for="name">
          Name:
        </label>
        <input [ngClass]="{
            'rounded w-full p-2.5 py-2 px-3 text-black' : !getErrorState('name'),
            'border text-red-500 placeholder-red-500 border-red-500 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 ' : getErrorState('name')
          }" formControlName="name" type="text" placeholder="">
        <div *ngIf="getErrorState('name')">
          <p *ngIf="technologyForm.get('name')?.errors?.['required']" class="mt-1 text-red-500 text-sm italic">
            The name is required.
          </p>
        </div>
      </div>
      <div class="flex flex-col mt-4">
        <label [ngClass]="{
          'block text-md font-bold mb-3' : !getErrorState('description'),
          'block text-md text-red-500 mb-2' : getErrorState('description')
        }" for="username">
          Description:
        </label>
        <textarea [ngClass]="{
          'rounded w-full p-2.5 py-2 px-3 text-black' : !getErrorState('description'),
          'border text-red-500 placeholder-red-500 border-red-500 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 ' : getErrorState('description')
        }" formControlName="description" type="text" placeholder="">
                </textarea>
        <div *ngIf="getErrorState('description')">
          <p *ngIf="technologyForm.get('description')?.errors?.['required']" class="mt-1 text-red-500 text-sm italic">
            The description of the Technology is required.
          </p>
        </div>
      </div>
      <div class="flex flex-col mt-3">
        <label [ngClass]="{
            'block text-md font-bold mb-3' : !getErrorState('category'),
            'block text-md text-red-500 mb-2' : getErrorState('category')
          }" for="category">
          Category:
        </label>
        <select [ngClass]="{
              'w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500' : !getErrorState('description'),
              'border text-red-500 placeholder-red-500 border-red-500 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 ' : getErrorState('description')
            }" formControlName="category">
          <option value="">Choose a category</option>
          <option *ngFor="let category of categories" [value]="category[0]">{{category[1]}}</option>
        </select>
        <div *ngIf="getErrorState('category')">
          <p *ngIf="technologyForm.get('category')?.errors?.['required']" class="mt-1 text-red-500 text-sm italic">
            A category is required.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-end mt-4">
    <button (click)="goBack()"
      class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-3"
      type="button">
      Go Back
    </button>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit">
      Confirm
    </button>
  </div>
  <div class="flex justify-between mt-4">
    <div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <app-alert alertType="error" [message]="error.error" />
    </div>
  </div>
</form>