<div class="container mx-auto">
  <form [formGroup]="technologyForm" (ngSubmit)="sendForm()" class="bg-white shadow-md rounded-lg p-8 mb-4">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full px-4 py-4">
        <div class="font-bold text-xl mb-2">Add a new Technology:</div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <div>
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="name" type="text" placeholder="">
          <div *ngIf="technologyForm.get('name')?.errors && technologyForm.get('name')?.touched">
            <p *ngIf="technologyForm.get('name')?.errors?.['required']" class="text-red-500 text-xs italic">The name is
              required.</p>
          </div>
        </div>
        <div class="mt-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-state">
            Ring
          </label>
          <div class="relative">
            <select
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="ring">
              <option value="">Choose a ring</option>
              <option *ngFor="let ring of rings" [value]="ring[0]">{{ring[1]}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Description
          </label>
          <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="description" type="text" placeholder="">
            </textarea>
          <div *ngIf="technologyForm.get('description')?.errors && technologyForm.get('description')?.touched">
            <p *ngIf="technologyForm.get('description')?.errors?.['required']" class="text-red-500 text-xs italic">
              The description of the Technology is required.
            </p>
          </div>
        </div>
      </div>
      <div formGroupName="category" class="w-full md:w-1/2 px-3">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-state">
            Category
          </label>
          <div class="relative">
            <select
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="name">
              <option value="">Choose a category</option>
              <option *ngFor="let category of categories" [value]="category[0]">{{category[1]}}</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
              </svg>
            </div>
          </div>
          <div *ngIf="technologyForm.get('name')?.errors && technologyForm.get('name')?.touched">
            <p *ngIf="technologyForm.get('name')?.errors?.['required']" class="text-red-500 text-xs italic">
              A category is required.
            </p>
          </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Description for category
          </label>
          <textarea
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="description" type="text" placeholder="">
            </textarea>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-between mt-4">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Send Technology
      </button>
    </div>
    <div class="flex justify-between mt-4">
      <div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Error:</strong>
        <span class="block sm:inline">{{error.message}}</span>
      </div>
      <div *ngIf="result" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
        role="alert">
        <strong class="font-bold">Success:</strong>
        <span class="block sm:inline">Technology created successfully!</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20">
            <title>Close</title>
            <path
              d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
          </svg>
        </span>
      </div>
    </div>
  </form>
</div>