<div class="container mx-auto">
    <div class="w-full bg-gray-800">
        <technology-viewer [technologyRadar]="technologyRadar" (setSelectedTechnologies)="setTechnologies($event)">
            <div *ngFor="let techonlogy of selectedTechnologies">
                <technology-card [technology]="techonlogy" />
            </div>
            <div *ngIf="selectedTechnologies.length === 0">
                <app-alert alertType="info" message="Currently there are no Technologies in those categories." />
            </div>
        </technology-viewer>
    </div>
</div>